/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
	--grey-100: hsl(0, 0%, 10%);
	--grey-200: hsl(0, 0%, 20%);
	--grey-300: hsl(0, 0%, 30%);
	--grey-400: hsl(0, 0%, 40%);
	--grey-500: hsl(0, 0%, 50%);
	--grey-600: hsl(0, 0%, 60%);
	--grey-700: hsl(0, 0%, 70%);
	--grey-800: hsl(0, 0%, 80%);
	--grey-900: hsl(0, 0%, 90%);

	--primary: #004769;
	--accent: rgb(236, 236, 232);

	--font-default: 'Open Sans', sans-serif;
	--font-special: 'Raleway', sans-serif;

	--spacer: 1rem;
	--spacer-quarter: calc(var(--spacer) / 4);
	--spacer-half: calc(var(--spacer) / 1);
	--spacer-bigger: calc(var(--spacer) * 1.5S);
	--spacer-double: calc(var(--spacer) * 3);
}

body {
	margin: 0;
	font-family: var(--font-default);
	background-color: var(--grey-900)
}

.wrapper {
	max-width: 66rem;
	margin: 0 auto;
	background-color: white;
}
.bg-r {
    background-color: #B96C6C;
}
.bg-f {
    background: #A78B8B;
}
.bg-menu {
    background-color: #CDB4B4;
}
    

h1, h2, h3 {
	font-family: var(--font-special);
	font-weight: normal;
    text-align: center;
}
h2 {
	padding-top: 10px;
}
p {
    text-align: center;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }

:is(h1, h2, h3):first-child {
	margin-top: 0;
}

.text-center {
	text-align: center;
}

img {
	max-width: 100%;
    height: auto;
}

section {
	padding: var(--spacer-double) var(--spacer-bigger);
}


/*
 **************************************
	Úvodní stránka
 **************************************/
.cover-img {
	max-height: 120px;
	overflow: hidden;
}

/*S čím Vám mohu pomoci*/
.helpfor {
	padding-top: 0px;
	padding-bottom: 0px;
}
.img_main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Přizpůsobte výšku podle potřeby */
  }
  
  .img_main div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 182.5px;
	margin: 10px;
  }
  
  .img_main div:nth-child(-n + 3) {
	align-self: flex-start; /* Posune první tři obrázky nahoru */
  }
  
  .img_main div:nth-child(n + 4) {
	align-self: flex-start; /* Ponechá poslední dva obrázky nahoře */
  }
  
  
  
  
  
  
  
  
/*Reference*/
.references {
	padding-top: 0px;
	padding-bottom: 0px;
}
.here-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.here {
    height: 69px;
    width: 262px;
    background-color: #D9D9D9;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
	margin: 5px 0px 30px 0px;
}

.here a {
    display: block;
    text-decoration: none;
    color: black;
}

/* Partneři*/
.partners {
	padding-top: 0px;
	padding-bottom: 0px;
}
.img-partners {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    height: auto;
}

/*Allisfree*/
.allisfree {
	padding-top: 0px;
}
.free-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.free {
    height: 100px;
    width: 400px;
    background-color: #D9D9D9;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
	margin: 40px;
}

.free a {
    display: block;
    text-decoration: none;
    color: black;
}


	  

/*
 **************************************
	O mě
 **************************************
*/
.my-img {
    position: relative;
    max-width: 300px;
    height: auto;
	padding-left: 45px;
    margin-left: 41px;
}
.column-wrap {
    display: flex;
}
.column-left {
    width: 50%;
}
.column-right {
    width: 43%;
	padding-right: 120px;
}

/*
 **************************************
	NABÍZENÉ SLUŽBY
 **************************************
*/



   
	
  


/*
 **************************************
	MENU
 **************************************
*/

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center;
}

.menu__item {
	margin: 0;
	padding: 0;
}

.menu__item:not(:last-child) {
	border-right: 1px solid var(--grey-900);
}

.menu__link {
	display: block;
	padding: var(--spacer-half) var(--spacer);
	font-family: var(--font-special);
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.menu__link:hover {
	background-color: var(--accent);
}



/*
 **************************************
	REFERENCE
 **************************************
*/
p {
	margin-bottom: 0px;
	padding-bottom: 10px;
	margin-top: 0px;	
}


/*
 **************************************
	KONTAKT
 **************************************
*/
.column-map {
    display: flex;
}
.column-map-right {
    width: 50%;
}
.column-right {
	padding-top: 50px;
}
.column-left {
	padding: 50px;
}


/*
 **************************************
	MAPA
 **************************************
*/



/*
 **************************************
	FORMULAR
 **************************************
*/

.heading-main,
.contact-form {
    text-align: center;
}



/*
 **************************************
	FOOTER
 **************************************
*/

.footer a {
	color: white;
}

.footer a:hover,
.footer a:focus {
	color: var(--accent);
}

.footer__grid {
	padding: var(--spacer-double) var(--spacer-bigger);
	background-color: var(--grey-100);
	color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacer-bigger);
}

.footer__copyright {
	padding: var(--spacer) var(--spacer-bigger);
	font-size: 14px;
	text-align: center;
	background-color: var(--grey-900);
	color: var(--grey-500);
}

.footer__links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__links li:not(:last-child) {
	margin-bottom: var(--spacer-quarter);
}

.footer__title {
	color: var(--grey-700);
}