<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>

	<!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap" rel="stylesheet">

	<!-- Naše vlastní CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{% set isHomePage = (page.url === '/') %}



		<header class="header">
			<div class="wrapper">		
				{% if isHomePage %}
				<div class="cover-img">
					<img src="/img/pozadi.jpg" alt="finanční poradenství">
				</div>
				{% endif %}

				<nav class="menu">
					<ul class="menu__list bg-menu">
						<li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
						<li class="menu__item"><a href="/NabizeneSluzby/" class="menu__link">Nabízené služby</a></li>
						<li class="menu__item"><a href="/PracovniProces/" class="menu__link">Pracovní proces</a></li>
						<li class="menu__item"><a href="/Kontakt/" class="menu__link">Kontakt</a></li>
						<li class="menu__item"><a href="/References/" class="menu__link">Reference</a></li>
						<li class="menu__item"><a href="/Ome/" class="menu__link">O mě</a></li>
					</ul>
				</nav>

			</div>

		</header>
		

<main class="main">
 {{ content | safe }}
</main>


	<footer>
		<div class="wrapper">
		<div class="footer__copyright">
			&copy;2023, Veronika Dragounová
		</div>
		</div>
	</footer>
</body>
</html>